# Research Question 3: Market Value

## Reading in Certificate of Occupancy data

In [207]:
import pandas as pd
import numpy as np
import os

In [208]:
co = pd.read_csv(r'/Users/andygoldstein/Documents/OMB Data Work/Working Directory/DOB_Certificate_Of_Occupancy.csv', low_memory=False)

### Examining CO Data

In [209]:
co.shape

(131268, 25)

In [100]:
co.head(2)

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,ISSUE_TYPE,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT,BIN,BBL,NTA,LOCATION
0,421557648,A1,10/30/2019,4031824,Queens,43-21,68 STREET,1348,7,11377.0,...,Final,40.741492,-73.896665,2.0,26.0,483.0,4031824.0,4.013480e+09,Elmhurst-Maspeth,"(40.741492, -73.896665)"
1,321174803,A1,10/30/2019,3095121,Brooklyn,542,CRESCENT STREET,4234,34,11208.0,...,Final,40.674745,-73.869849,5.0,42.0,1196.0,3095121.0,3.042340e+09,East New York,"(40.674745, -73.869849)"

In [101]:
co.tail(2)

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,ISSUE_TYPE,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT,BIN,BBL,NTA,LOCATION
131266,421559227,A1,07/13/2021,4208885,Queens,89-14,163 ST,9761,55,11432.0,...,Final,40.706659,-73.798047,12.0,24.0,44601.0,4208885.0,4.097610e+09,Jamaica,"(40.706659, -73.798047)"
131267,321154763,NB,07/13/2021,3425539,Brooklyn,892,METROPOLITAN AVE,2916,36,11211.0,...,Final,40.714619,-73.939478,1.0,34.0,481.0,3425539.0,3.029160e+09,East Williamsburg,"(40.714619, -73.939478)"

In [102]:
co.columns

Index(['JOB_NUMBER', 'JOB_TYPE', 'C_O_ISSUE_DATE', 'BIN_NUMBER', 'BOROUGH',
       'NUMBER', 'STREET', 'BLOCK', 'LOT', 'POSTCODE', 'PR_DWELLING_UNIT',
       'EX_DWELLING_UNIT', 'APPLICATION_STATUS_RAW', 'FILING_STATUS_RAW',
       'ITEM_NUMBER', 'ISSUE_TYPE', 'LATITUDE', 'LONGITUDE', 'COMMUNITY_BOARD',
       'COUNCIL_DISTRICT', 'CENSUS_TRACT', 'BIN', 'BBL', 'NTA', 'LOCATION'],
      dtype='object')

### Subsetting by Job Type & Date

In [104]:
# subsetting by job type
co = co.loc[co['JOB_TYPE'] == 'NB']

In [105]:
# converting issue date to datetime
co['C_O_ISSUE_DATE']= pd.to_datetime(co['C_O_ISSUE_DATE'])

In [106]:
print(co['C_O_ISSUE_DATE'].dtype)

datetime64[ns]

In [107]:
co = co.groupby(["JOB_NUMBER"], group_keys=False).apply(lambda g: g.nsmallest(1, "C_O_ISSUE_DATE"))

In [108]:
# check for duplicates
dup = co.duplicated(['BBL'], keep=False)

co['DUPLICATE'] = np.select([dup],['yes'], default='no')
print (co)

        JOB_NUMBER JOB_TYPE C_O_ISSUE_DATE  BIN_NUMBER        BOROUGH  NUMBER  \
26974    100075133       NB     2012-07-30     1035742      Manhattan     693
17481    100089583       NB     2020-02-19     1804283      Manhattan    2006
27181    100129790       NB     2012-09-19     1087519      Manhattan     314
28089    100137219       NB     2012-08-16     1084667      Manhattan     745
27209    100363562       NB     2012-08-08     1084564      Manhattan    1992
...            ...      ...            ...         ...            ...     ...
130348   520397106       NB     2021-04-12     5174633  Staten Island     638
126867   520451840       NB     2020-12-28     5174691  Staten Island  123GAR
131056   520452215       NB     2021-06-22     5174896  Staten Island      34
128995   520454339       NB     2021-02-12     5174900  Staten Island     347
129045   520454348       NB     2021-02-16     5174685  Staten Island     343

                    STREET  BLOCK LOT  POSTCODE  ...   LATITUDE  LONGITUDE  \
26974             5 AVENUE   1290   3   10022.0  ...  40.761257 -73.975204
17481     LEXINGTON AVENUE   1771  17   10035.0  ...  40.802543 -73.938773
27181     WEST  120 STREET   1946  43   10026.0  ...  40.807192 -73.954020
28089                7 AVE   1002   1   10019.0  ...  40.760605 -73.983612
27209             BROADWAY   1139  24   10023.0  ...  40.775177 -73.982168
...                    ...    ...  ..       ...  ...        ...        ...
130348   DARLINGTON AVENUE   6913   3   10309.0  ...  40.533035 -74.206533
126867  CONNECTICUT STREET   7928  77   10307.0  ...  40.504377 -74.250092
131056         SYCAMORE ST   5253   6   10308.0  ...  40.544710 -74.152637
128995            ROSS AVE   4226  66   10306.0  ...  40.569512 -74.112870
129045            ROSS AVE   4226  68   10306.0  ...  40.569553 -74.112949

       COMMUNITY_BOARD COUNCIL_DISTRICT  CENSUS_TRACT        BIN  \
26974              5.0              4.0         102.0  1035742.0
17481             11.0              9.0         196.0  1000000.0
27181             10.0              9.0         257.0  1087519.0
28089              5.0              4.0         125.0  1084667.0
27209              7.0              6.0         153.0  1084564.0
...                ...              ...           ...        ...
130348             3.0             51.0       20803.0  5000000.0
126867             3.0             51.0       24401.0        NaN
131056             3.0             51.0       15601.0  5000000.0
128995             2.0             50.0         134.0  5057740.0
129045             2.0             50.0         134.0        NaN

                 BBL                                     NTA  \
26974   1.012900e+09                   Midtown-Midtown South
17481   1.017710e+09                       East Harlem North
27181   1.019460e+09                    Central Harlem South
28089   1.010020e+09                   Midtown-Midtown South
27209   1.011398e+09                          Lincoln Square
...              ...                                     ...
130348  5.069130e+09                       Rossville-Woodrow
126867           NaN  Charleston-Richmond Valley-Tottenville
131056  5.052530e+09                             Great Kills
128995  5.042260e+09                  New Dorp-Midland Beach
129045           NaN                  New Dorp-Midland Beach

                       LOCATION  DUPLICATE
26974   (40.761257, -73.975204)         no
17481   (40.802543, -73.938773)         no
27181    (40.807192, -73.95402)         no
28089   (40.760605, -73.983612)         no
27209   (40.775177, -73.982168)         no
...                         ...        ...
130348  (40.533035, -74.206533)         no
126867  (40.504377, -74.250092)        yes
131056   (40.54471, -74.152637)         no
128995   (40.569512, -74.11287)         no
129045  (40.569553, -74.112949)        yes

[17586 rows x 26 columns]

In [109]:
# duplicate check Pre-date filter
pd.crosstab(index=co['DUPLICATE'], columns='BBL')

col_0        BBL
DUPLICATE
no         11918
yes         5668

In [110]:
# subsetting by Certifice of Occupancy date
co = co.loc[co['C_O_ISSUE_DATE'] >= '7/1/2016']

In [111]:
# subsetting by Certifice of Occupancy date
co = co.loc[co['C_O_ISSUE_DATE'] <= '6/30/2020']
co

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT,BIN,BBL,NTA,LOCATION,DUPLICATE
17481,100089583,NB,2020-02-19,1804283,Manhattan,2006,LEXINGTON AVENUE,1771,17,10035.0,...,40.802543,-73.938773,11.0,9.0,196.0,1000000.0,1.017710e+09,East Harlem North,"(40.802543, -73.938773)",no
122315,100771513,NB,2019-01-08,1053496,Manhattan,75,WEST 125 STREET,1723,5,10027.0,...,40.807440,-73.944674,10.0,9.0,200.0,1053496.0,1.017230e+09,Central Harlem South,"(40.80744, -73.944674)",no
113236,102431904,NB,2018-06-26,1087556,Manhattan,450,WEST BROADWAY,516,37,10012.0,...,40.726053,-74.000675,2.0,1.0,49.0,1087556.0,1.005160e+09,SoHo-TriBeCa-Civic Center-Little Italy,"(40.726053, -74.000675)",no
121026,103042752,NB,2018-12-24,1008438,Manhattan,57,BOND STREET,529,38,10012.0,...,40.725874,-73.992568,2.0,1.0,5502.0,1008438.0,1.005298e+09,West Village,"(40.725874, -73.992568)",no
30740,103131086,NB,2016-08-01,1087891,Manhattan,30,EAST 129 STREET,1753,58,10035.0,...,40.808458,-73.939237,11.0,9.0,206.0,1087891.0,1.017530e+09,Central Harlem North-Polo Grounds,"(40.808458, -73.939237)",no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14329,520378190,NB,2020-03-27,5171753,Staten Island,113 GAR,CANTON AVENUE,6013,46,10312.0,...,40.548747,-74.191785,3.0,51.0,17010.0,NaN,NaN,Arden Heights,"(40.548747, -74.191785)",yes
10001,520378207,NB,2020-05-21,5171817,Staten Island,117,CANTON AVENUE,6013,47,10312.0,...,40.548785,-74.191857,3.0,51.0,17010.0,NaN,NaN,Arden Heights,"(40.548785, -74.191857)",yes
14330,520378216,NB,2020-03-27,5171818,Staten Island,117 GAR,CANTON AVENUE,6013,47,10312.0,...,40.548785,-74.191857,3.0,51.0,17010.0,NaN,NaN,Arden Heights,"(40.548785, -74.191857)",yes
10003,520384058,NB,2020-05-21,5123917,Staten Island,52,BENNETT AVE,6249,627,10312.0,...,40.538021,-74.180839,3.0,51.0,17005.0,5123917.0,5.062491e+09,Annadale-Huguenot-Prince's Bay-Eltingville,"(40.538021, -74.180839)",no
17731,520386430,NB,2020-02-21,5171779,Staten Island,178,ALLISON AVE,4245,68,10306.0,...,40.567609,-74.115872,2.0,50.0,134.0,NaN,NaN,New Dorp-Midland Beach,"(40.567609, -74.115872)",yes

In [112]:
# duplicate check Post-date filter
pd.crosstab(index=co['DUPLICATE'], columns='BBL')

col_0       BBL
DUPLICATE
no         4543
yes        3346

### Creating PARID and Deduplicating

In [113]:
# creating Boro #s
# Key Program Type column
BORO = []
for row in co['BOROUGH']:
    if row == 'Manhattan': BORO.append('1')
    elif row == 'Bronx': BORO.append('2')
    elif row == 'Brooklyn': BORO.append('3')
    elif row == 'Queens': BORO.append('4')
    elif row == 'Staten Island': BORO.append('5')
        
    else: keyprogram.append('')

In [114]:
co['BORO'] = BORO
co['BORO']

17481     1
122315    1
113236    1
121026    1
30740     1
         ..
14329     5
10001     5
14330     5
10003     5
17731     5
Name: BORO, Length: 7889, dtype: object

In [115]:
co['BLOCK']

17481     1771
122315    1723
113236     516
121026     529
30740     1753
          ...
14329     6013
10001     6013
14330     6013
10003     6249
17731     4245
Name: BLOCK, Length: 7889, dtype: int64

In [116]:
co['BLOCK']= pd.Series(co['BLOCK']).astype(str).str.zfill(5)
co['BLOCK']

17481     01771
122315    01723
113236    00516
121026    00529
30740     01753
          ...
14329     06013
10001     06013
14330     06013
10003     06249
17731     04245
Name: BLOCK, Length: 7889, dtype: object

In [117]:
co['LOT']

17481      17
122315      5
113236     37
121026     38
30740      58
         ...
14329      46
10001      47
14330      47
10003     627
17731      68
Name: LOT, Length: 7889, dtype: object

In [118]:
# normalizing LOT character length for concat purposes
co['LOT']= pd.Series(co['LOT']).astype(str).str.zfill(4)
co['LOT']

17481     0017
122315    0005
113236    0037
121026    0038
30740     0058
          ...
14329     0046
10001     0047
14330     0047
10003     0627
17731     0068
Name: LOT, Length: 7889, dtype: object

In [119]:
# creating PARID as unique identifier for BBL
co['PARID'] = co['BORO'] + co['BLOCK'] + co['LOT']
co['PARID']

17481     1017710017
122315    1017230005
113236    1005160037
121026    1005290038
30740     1017530058
             ...
14329     5060130046
10001     5060130047
14330     5060130047
10003     5062490627
17731     5042450068
Name: PARID, Length: 7889, dtype: object

In [120]:
paridduplicate = co.duplicated(['PARID'], keep=False)

co['PARIDDUPLICATE'] = np.select([paridduplicate],['yes'], default='no')
print (co)

        JOB_NUMBER JOB_TYPE C_O_ISSUE_DATE  BIN_NUMBER        BOROUGH  \
17481    100089583       NB     2020-02-19     1804283      Manhattan
122315   100771513       NB     2019-01-08     1053496      Manhattan
113236   102431904       NB     2018-06-26     1087556      Manhattan
121026   103042752       NB     2018-12-24     1008438      Manhattan
30740    103131086       NB     2016-08-01     1087891      Manhattan
...            ...      ...            ...         ...            ...
14329    520378190       NB     2020-03-27     5171753  Staten Island
10001    520378207       NB     2020-05-21     5171817  Staten Island
14330    520378216       NB     2020-03-27     5171818  Staten Island
10003    520384058       NB     2020-05-21     5123917  Staten Island
17731    520386430       NB     2020-02-21     5171779  Staten Island

         NUMBER            STREET  BLOCK   LOT  POSTCODE  ...  \
17481      2006  LEXINGTON AVENUE  01771  0017   10035.0  ...
122315       75  WEST  125 STREET  01723  0005   10027.0  ...
113236      450     WEST BROADWAY  00516  0037   10012.0  ...
121026       57       BOND STREET  00529  0038   10012.0  ...
30740        30  EAST  129 STREET  01753  0058   10035.0  ...
...         ...               ...    ...   ...       ...  ...
14329   113 GAR     CANTON AVENUE  06013  0046   10312.0  ...
10001       117     CANTON AVENUE  06013  0047   10312.0  ...
14330   117 GAR     CANTON AVENUE  06013  0047   10312.0  ...
10003        52       BENNETT AVE  06249  0627   10312.0  ...
17731       178       ALLISON AVE  04245  0068   10306.0  ...

       COUNCIL_DISTRICT  CENSUS_TRACT        BIN           BBL  \
17481               9.0         196.0  1000000.0  1.017710e+09
122315              9.0         200.0  1053496.0  1.017230e+09
113236              1.0          49.0  1087556.0  1.005160e+09
121026              1.0        5502.0  1008438.0  1.005298e+09
30740               9.0         206.0  1087891.0  1.017530e+09
...                 ...           ...        ...           ...
14329              51.0       17010.0        NaN           NaN
10001              51.0       17010.0        NaN           NaN
14330              51.0       17010.0        NaN           NaN
10003              51.0       17005.0  5123917.0  5.062491e+09
17731              50.0         134.0        NaN           NaN

                                               NTA                 LOCATION  \
17481                            East Harlem North  (40.802543, -73.938773)
122315                        Central Harlem South   (40.80744, -73.944674)
113236      SoHo-TriBeCa-Civic Center-Little Italy  (40.726053, -74.000675)
121026                                West Village  (40.725874, -73.992568)
30740            Central Harlem North-Polo Grounds  (40.808458, -73.939237)
...                                            ...                      ...
14329                                Arden Heights  (40.548747, -74.191785)
10001                                Arden Heights  (40.548785, -74.191857)
14330                                Arden Heights  (40.548785, -74.191857)
10003   Annadale-Huguenot-Prince's Bay-Eltingville  (40.538021, -74.180839)
17731                       New Dorp-Midland Beach  (40.567609, -74.115872)

        DUPLICATE  BORO       PARID  PARIDDUPLICATE
17481          no     1  1017710017              no
122315         no     1  1017230005              no
113236         no     1  1005160037              no
121026         no     1  1005290038              no
30740          no     1  1017530058              no
...           ...   ...         ...             ...
14329         yes     5  5060130046              no
10001         yes     5  5060130047             yes
14330         yes     5  5060130047             yes
10003          no     5  5062490627              no
17731         yes     5  5042450068              no

[7889 rows x 29 columns]

In [121]:
# PARID duplicate check
pd.crosstab(index=co['PARIDDUPLICATE'], columns='PARID')

col_0           PARID
PARIDDUPLICATE
no               6231
yes              1658

In [122]:
# group by latest
co=co.groupby(["PARID"], group_keys=False).apply(lambda g: g.nlargest(1, "C_O_ISSUE_DATE"))

In [123]:
# duplicate check with latest
pd.crosstab(index=co['PARIDDUPLICATE'], columns='PARID')

col_0           PARID
PARIDDUPLICATE
no               6231
yes               676

## Reading in Property Assessment data

In [135]:
# filtered for tax class 2 & market value =/= 0
rpad2 = pd.read_csv('/Users/andygoldstein/Documents/OMB Data Work/Working Directory/Property_Valuation_and_Assessment_Data_Tax_Classes_1_2_3_4.csv')
rpad2

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,4,22,33,69,74,75,77,78,87,92,99,115,117) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PARID,BORO,BLOCK,LOT,EASEMENT,SUBIDENT-REUC,RECTYPE,YEAR,IDENT,SUBIDENT,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
0,1000081002,1,8,1002,NaN,NaN,1,2021,NaN,NaN,...,0,0,0,NaN,05/17/2020,T,T,T,T,T
1,1000110014,1,11,14,NaN,NaN,1,2021,NaN,NaN,...,0,0,0,NaN,05/17/2020,T,T,T,T,T
2,1000160015,1,16,15,NaN,NaN,1,2021,NaN,NaN,...,0,8400,0,NaN,05/17/2020,A,A,A,A,A
3,1000160020,1,16,20,NaN,NaN,1,2021,NaN,NaN,...,0,1,0,NaN,05/17/2020,A,A,A,A,A
4,1000160100,1,16,100,NaN,NaN,1,2021,NaN,NaN,...,0,48112,0,NaN,05/17/2020,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269585,5054911152,5,5491,1152,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A
269586,5054911154,5,5491,1154,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A
269587,5054911155,5,5491,1155,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A
269588,5054911162,5,5491,1162,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A
269589,5054911164,5,5491,1164,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A

### Examing RPAD data

In [136]:
rpad2.shape

(269590, 139)

In [137]:
rpad2.head(2)

,PARID,BORO,BLOCK,LOT,EASEMENT,SUBIDENT-REUC,RECTYPE,YEAR,IDENT,SUBIDENT,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
0,1000081002,1,8,1002,NaN,NaN,1,2021,NaN,NaN,...,0,0,0,NaN,05/17/2020,T,T,T,T,T
1,1000110014,1,11,14,NaN,NaN,1,2021,NaN,NaN,...,0,0,0,NaN,05/17/2020,T,T,T,T,T

In [138]:
rpad2.tail(2)

,PARID,BORO,BLOCK,LOT,EASEMENT,SUBIDENT-REUC,RECTYPE,YEAR,IDENT,SUBIDENT,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
269588,5054911162,5,5491,1162,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A
269589,5054911164,5,5491,1164,NaN,NaN,1,2022,NaN,NaN,...,0,0,0,NaN,05/24/2021,T,A,A,A,A

In [139]:
for col in rpad2.columns:
    print(col)

PARID
BORO
BLOCK
LOT
EASEMENT
SUBIDENT-REUC
RECTYPE
YEAR
IDENT
SUBIDENT
ROLL_SECTION
SECVOL
PYMKTLAND
PYMKTTOT
PYACTLAND
PYACTTOT
PYACTEXTOT
PYTRNLAND
PYTRNTOT
PYTRNEXTOT
PYTXBTOT
PYTXBEXTOT
PYTAXCLASS
TENMKTLAND
TENMKTTOT
TENACTLAND
TENACTTOT
TENACTEXTOT
TENTRNLAND
TENTRNTOT
TENTRNEXTOT
TENTXBTOT
TENTXBEXTOT
TENTAXCLASS
CBNMKTLAND
CBNMKTTOT
CBNACTLAND
CBNACTTOT
CBNACTEXTOT
CBNTRNLAND
CBNTRNTOT
CBNTRNEXTOT
CBNTXBTOT
CBNTXBEXTOT
CBNTAXCLASS
FINMKTLAND
FINMKTTOT
FINACTLAND
FINACTTOT
FINACTEXTOT
FINTRNLAND
FINTRNTOT
FINTRNEXTOT
FINTXBTOT
FINTXBEXTOT
FINTAXCLASS
CURMKTLAND
CURMKTTOT
CURACTLAND
CURACTTOT
CURACTEXTOT
CURTRNLAND
CURTRNTOT
CURTRNEXTOT
CURTXBTOT
CURTXBEXTOT
CURTAXCLASS
PERIOD
NEWDROP
NOAV
VALREF
BLDG_CLASS
OWNER
ZONING
HOUSENUM_LO
HOUSENUM_HI
STREET_NAME
ZIP_CODE
GEPSUPPORT_RC
STCODE
LOT_FRT
LOT_DEP
LOT_IRREG
BLD_FRT
BLD_DEP
BLD_EXT
BLD_STORY
CORNER
LAND_AREA
NUM_BLDGS
YRBUILT
YRBUILT_RANGE
YRBUILT_FLAG
YRALT1
YRALT1_RANGE
YRALT2
YRALT2_RANGE
COOP_APTS
UNITS
REUC_REF
APTNO
COOP_NUM
CPB_BORO
CPB_DIST
APPT_DATE
APPT_BORO
APPT_BLOCK
APPT_LOT
APPT_EASE
CONDO_Number
CONDO_SFX1
CONDO_SFX2
CONDO_SFX3
UAF_LAND
UAF_BLDG
PROTEST_1
PROTEST_2
PROTEST_OLD
ATTORNEY_GROUP1
ATTORNEY_GROUP2
ATTORNEY_GROUP_OLD
GROSS_SQFT
HOTEL_AREA_GROSS
OFFICE_AREA_GROSS
RESIDENTIAL_AREA_GROSS
RETAIL_AREA_GROSS
LOFT_AREA_GROSS
FACTORY_AREA_GROSS
WAREHOUSE_AREA_GROSS
STORAGE_AREA_GROSS
GARAGE_AREA
OTHER_AREA_GROSS
REUC_DESCRIPTION
EXTRACRDT
PYTAXFLAG
TENTAXFLAG
CBNTAXFLAG
FINTAXFLAG
CURTAXFLAG

In [140]:
rpad.describe()

,BORO,BLOCK,LOT,SUBIDENT-REUC,RECTYPE,YEAR,IDENT,SUBIDENT,ROLL_SECTION,SECVOL,...,OFFICE_AREA_GROSS,RESIDENTIAL_AREA_GROSS,RETAIL_AREA_GROSS,LOFT_AREA_GROSS,FACTORY_AREA_GROSS,WAREHOUSE_AREA_GROSS,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION
count,269590.000000,269590.000000,269590.000000,0.0,269590.0,269590.000000,0.0,0.0,0.0,269590.000000,...,269590.000000,2.695900e+05,269590.000000,269590.0,269590.000000,269590.000000,269590.000000,269590.000000,269590.000000,0.0
mean,2.368000,2690.856564,1491.852187,NaN,1.0,2020.979328,NaN,NaN,NaN,1037.553162,...,48.691428,1.159076e+04,135.573575,0.0,0.337720,0.159973,6.805579,155.303468,54.844189,NaN
std,1.149643,2528.688425,1227.890472,NaN,0.0,0.816832,NaN,NaN,NaN,954.018748,...,971.571024,7.831681e+04,2444.501380,0.0,84.616659,32.119251,339.894325,4595.263757,2425.734433,NaN
min,1.000000,1.000000,1.000000,NaN,1.0,2020.000000,NaN,NaN,NaN,101.000000,...,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,1.000000,992.000000,1019.000000,NaN,1.0,2020.000000,NaN,NaN,NaN,403.000000,...,0.000000,5.910000e+02,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,2.000000,1986.000000,1124.000000,NaN,1.0,2021.000000,NaN,NaN,NaN,709.000000,...,0.000000,8.290000e+02,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,3.000000,3943.000000,1495.000000,NaN,1.0,2022.000000,NaN,NaN,NaN,1503.000000,...,0.000000,1.303000e+03,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
max,5.000000,16250.000000,9978.000000,NaN,1.0,2022.000000,NaN,NaN,NaN,6302.000000,...,100000.000000,1.321140e+07,537154.000000,0.0,24764.000000,11681.000000,67500.000000,945000.000000,476973.000000,NaN

In [141]:
# checking tax class filter
rpad2['CURTAXCLASS']

0         2
1         2
2         2
3         2
4         2
         ..
269585    2
269586    2
269587    2
269588    2
269589    2
Name: CURTAXCLASS, Length: 269590, dtype: int64

In [144]:
# dropping repeated columns before merge
rpad2 = rpad2.drop(['BLOCK'], axis=1)

In [145]:
rpad2 = rpad2.drop(['LOT'], axis=1)

## Merging CO & RPAD data

In [154]:
corpad2 = co.merge(rpad2, how = 'left', on = 'PARID')
corpad2

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
0,199990002,NB,2016-10-02,1813360,Manhattan,1,BOGUS LANE,00001,0001,10001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121330764,NB,2017-09-19,1000017,Manhattan,6,WATER STREET,00008,0051,10004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110017151,NB,2016-12-30,1090192,Manhattan,50,WEST STREET,00017,7501,10006.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121186885,NB,2019-11-15,1090830,Manhattan,68,TRINITY PLACE,00051,0007,10006.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121324147,NB,2016-11-28,1089248,Manhattan,133,GREENWICH STREET,00052,0008,10006.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6956,520234737,NB,2016-07-18,5089051,Staten Island,90,CRAIG AVENUE,08039,0034,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6957,520234746,NB,2016-07-15,5089052,Staten Island,88,CRAIG AVENUE,08039,0037,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6958,520180107,NB,2020-02-19,5158963,Staten Island,203,JOHNSON AVENUE,08046,0144,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6959,520321394,NB,2019-06-28,5170817,Staten Island,141,BENTLEY STREET,08049,0030,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6960,520321385,NB,2019-06-28,5170818,Staten Island,139,BENTLEY STREET,08049,0032,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
for col in corpad2.columns:
    print(col)

JOB_NUMBER
JOB_TYPE
C_O_ISSUE_DATE
BIN_NUMBER
BOROUGH
NUMBER
STREET
BLOCK
LOT
POSTCODE
PR_DWELLING_UNIT
EX_DWELLING_UNIT
APPLICATION_STATUS_RAW
FILING_STATUS_RAW
ITEM_NUMBER
ISSUE_TYPE
LATITUDE
LONGITUDE
COMMUNITY_BOARD
COUNCIL_DISTRICT
CENSUS_TRACT
BIN
BBL
NTA
LOCATION
DUPLICATE
BORO_x
PARID
PARIDDUPLICATE
BORO_y
EASEMENT
SUBIDENT-REUC
RECTYPE
YEAR
IDENT
SUBIDENT
ROLL_SECTION
SECVOL
PYMKTLAND
PYMKTTOT
PYACTLAND
PYACTTOT
PYACTEXTOT
PYTRNLAND
PYTRNTOT
PYTRNEXTOT
PYTXBTOT
PYTXBEXTOT
PYTAXCLASS
TENMKTLAND
TENMKTTOT
TENACTLAND
TENACTTOT
TENACTEXTOT
TENTRNLAND
TENTRNTOT
TENTRNEXTOT
TENTXBTOT
TENTXBEXTOT
TENTAXCLASS
CBNMKTLAND
CBNMKTTOT
CBNACTLAND
CBNACTTOT
CBNACTEXTOT
CBNTRNLAND
CBNTRNTOT
CBNTRNEXTOT
CBNTXBTOT
CBNTXBEXTOT
CBNTAXCLASS
FINMKTLAND
FINMKTTOT
FINACTLAND
FINACTTOT
FINACTEXTOT
FINTRNLAND
FINTRNTOT
FINTRNEXTOT
FINTXBTOT
FINTXBEXTOT
FINTAXCLASS
CURMKTLAND
CURMKTTOT
CURACTLAND
CURACTTOT
CURACTEXTOT
CURTRNLAND
CURTRNTOT
CURTRNEXTOT
CURTXBTOT
CURTXBEXTOT
CURTAXCLASS
PERIOD
NEWDROP
NOAV
VALREF
BLDG_CLASS
OWNER
ZONING
HOUSENUM_LO
HOUSENUM_HI
STREET_NAME
ZIP_CODE
GEPSUPPORT_RC
STCODE
LOT_FRT
LOT_DEP
LOT_IRREG
BLD_FRT
BLD_DEP
BLD_EXT
BLD_STORY
CORNER
LAND_AREA
NUM_BLDGS
YRBUILT
YRBUILT_RANGE
YRBUILT_FLAG
YRALT1
YRALT1_RANGE
YRALT2
YRALT2_RANGE
COOP_APTS
UNITS
REUC_REF
APTNO
COOP_NUM
CPB_BORO
CPB_DIST
APPT_DATE
APPT_BORO
APPT_BLOCK
APPT_LOT
APPT_EASE
CONDO_Number
CONDO_SFX1
CONDO_SFX2
CONDO_SFX3
UAF_LAND
UAF_BLDG
PROTEST_1
PROTEST_2
PROTEST_OLD
ATTORNEY_GROUP1
ATTORNEY_GROUP2
ATTORNEY_GROUP_OLD
GROSS_SQFT
HOTEL_AREA_GROSS
OFFICE_AREA_GROSS
RESIDENTIAL_AREA_GROSS
RETAIL_AREA_GROSS
LOFT_AREA_GROSS
FACTORY_AREA_GROSS
WAREHOUSE_AREA_GROSS
STORAGE_AREA_GROSS
GARAGE_AREA
OTHER_AREA_GROSS
REUC_DESCRIPTION
EXTRACRDT
PYTAXFLAG
TENTAXFLAG
CBNTAXFLAG
FINTAXFLAG
CURTAXFLAG

## Borough & Community District Sample Size

### Bronx Sample Size

In [158]:
# Bronx subset sample size
bx = corpad2[(corpad2.BOROUGH =='Bronx')]
bx

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
360,220407842,NB,2018-08-16,2128617,Bronx,532,E 142 STREET,02268,0018,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
361,220407842,NB,2018-08-16,2128617,Bronx,532,E 142 STREET,02268,0018,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
362,200483039,NB,2017-11-29,2117110,Bronx,521,EAST 149 STREET,02276,0054,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,220516216,NB,2020-05-29,2127605,Bronx,485,EAST 139TH STREET,02284,0034,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,220471683,NB,2018-03-22,2818714,Bronx,352,WILLIS AVE,02286,0012,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,220351722,NB,2020-06-17,2117817,Bronx,680-14,W 246 STREET,05920,0398,10471.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1013,220422923,NB,2016-08-26,2090709,Bronx,4900,PALISADES AVENUE,05937,00360,10471.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1014,201093725,NB,2020-01-31,2129285,Bronx,620,WEST 256 STREET,05949,0294,10471.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,201098793,NB,2020-01-10,2129286,Bronx,622,WEST 256 STREET,05949,0295,10471.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,200514933,NB,2018-05-01,2115668,Bronx,3279,3 AVENUE,06891,0006,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# Bronx by CD sample size
bx['COMMUNITY_BOARD'].value_counts()

12.0    111
10.0     73
9.0      67
3.0      62
1.0      57
11.0     56
4.0      52
6.0      47
7.0      35
8.0      31
5.0      30
2.0      29
Name: COMMUNITY_BOARD, dtype: int64

### Brooklyn Sample Size

In [160]:
# Brooklyn subset sample size
bk = corpad2[(corpad2.BOROUGH =='Brooklyn')]
bk

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
1017,320594727,NB,2016-07-06,3413929,Brooklyn,1,JOHN ST,00001,00002,11201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,320590525,NB,2019-12-11,3425340,Brooklyn,9,OLD FULTON STREET,00035,0010,11201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,320877627,NB,2018-07-06,3413894,Brooklyn,181,FRONT STREET,00041,0042,11201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,320914445,NB,2018-08-23,3426023,Brooklyn,120,NASSAU STREET,00107,0009,11201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,301908933,NB,2018-06-20,3000189,Brooklyn,187,BRIDGE STREET,00108,0009,11201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,310053919,NB,2019-11-26,3424370,Brooklyn,2738,GERRITSEN AVENUE,08925,0174,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,310053900,NB,2019-11-27,3424518,Brooklyn,2736,GERRITSEN AVENUE,08925,0175,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,321183697,NB,2018-02-23,3249838,Brooklyn,7,BEVY COURT,08925,0266,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,321185864,NB,2018-03-29,3249944,Brooklyn,28,ASTER COURT,08932,0544,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,321188013,NB,2019-04-04,3250099,Brooklyn,53,ASTER COURT,08939,0888,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
# Brooklyn by CD sample size
bk['COMMUNITY_BOARD'].value_counts()

1.0     308
3.0     269
4.0     176
12.0    165
15.0    151
5.0     145
2.0     125
6.0     121
8.0      96
13.0     76
9.0      71
17.0     68
14.0     60
11.0     59
18.0     58
16.0     53
7.0      45
10.0     31
Name: COMMUNITY_BOARD, dtype: int64

### Queens Sample Size

In [162]:
# Queens subset sample size
qn = corpad2[(corpad2.BOROUGH =='Queens')]
qn

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
3222,421400638,NB,2019-12-13,4615610,Queens,2-22,51ST AVENUE,00015,0034,11101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,420651440,NB,2019-09-20,4594828,Queens,4-44,47 ROAD,00019,0021,11101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,421209169,NB,2019-07-18,4618965,Queens,46-02,VERNON BOULEVARD,00027,0046,11101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3225,410114326,NB,2017-02-13,4541432,Queens,47-05,5 STREET,00029,00026,11101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,420559540,NB,2019-05-20,4618263,Queens,5-26,47TH AVENUE,00029,0034,11101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094,421642066,NB,2020-06-16,4529957,Queens,282,SEABREEZE AVE,16340,0050,11697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5095,420656551,NB,2017-06-30,4464905,Queens,851,LIBERTY LANE,16350,00300,11697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5096,420948390,NB,2017-06-22,4466529,Queens,141,OCEANSIDE AVE,16350,00400,11697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5097,420858405,NB,2020-06-05,4464543,Queens,2,BAYSIDE DRIVE,16350,0300,11697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5098,421642084,NB,2020-05-07,4618615,Queens,107,BEACH 219 STREET,16350,0400,11697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
# Queens by CD sample size
qn['COMMUNITY_BOARD'].value_counts()

7.0     372
14.0    266
11.0    206
12.0    179
1.0     166
4.0     138
13.0     98
2.0      93
10.0     88
8.0      73
5.0      59
3.0      57
9.0      36
6.0      34
81.0      2
Name: COMMUNITY_BOARD, dtype: int64

### Staten Island Sample Size

In [164]:
# Staten Island subset sample size
si = corpad2[(corpad2.BOROUGH =='Staten Island')]
si

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
5099,520208800,NB,2019-12-09,5164580,Staten Island,35,RICHMOND TERRACE,00002,0015,10301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5100,500871602,NB,2017-08-28,5165063,Staten Island,105B,HAMILTON AVENUE,00022,0001,10301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5101,520102335,NB,2016-08-17,5158649,Staten Island,255,WESTERVELT AVENUE,00028,00025,10301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5102,520253993,NB,2016-08-24,5804879,Staten Island,192,CORSON AVENUE,00035,0022,10301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5103,520264384,NB,2017-03-30,5166617,Staten Island,126,SCRIBNER AVENUE,00036,0018,10301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6956,520234737,NB,2016-07-18,5089051,Staten Island,90,CRAIG AVENUE,08039,0034,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6957,520234746,NB,2016-07-15,5089052,Staten Island,88,CRAIG AVENUE,08039,0037,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6958,520180107,NB,2020-02-19,5158963,Staten Island,203,JOHNSON AVENUE,08046,0144,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6959,520321394,NB,2019-06-28,5170817,Staten Island,141,BENTLEY STREET,08049,0030,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6960,520321385,NB,2019-06-28,5170818,Staten Island,139,BENTLEY STREET,08049,0032,10307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
# Staten Island by CD sample size
si['COMMUNITY_BOARD'].value_counts()

2.0    627
3.0    572
1.0    492
Name: COMMUNITY_BOARD, dtype: int64

## Case Study CD Subsets & Variables of Interest

### Bronx - CD 04

In [166]:
# Bronx-04 subset
bx4 = corpad2[(corpad2.BOROUGH =='Bronx') & (corpad2.COMMUNITY_BOARD == 4)]
bx4

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
391,220493231,NB,2019-05-07,2128704,Bronx,646,GERARD AVENUE,02353,0020,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,220354952,NB,2016-12-13,2001935,Bronx,316,E. 162 STREET,02421,00027,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,220151911,NB,2018-04-04,2001931,Bronx,294,EAST 162ND STREET,02421,0018,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,220579817,NB,2018-08-30,2128408,Bronx,381,E 166 STREET,02426,0001,10456.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
416,220579817,NB,2018-08-30,2128408,Bronx,381,E 166 STREET,02426,0001,10456.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
417,220619150,NB,2019-04-30,2129110,Bronx,316,EAST 165 STREET,02432,0080,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,220456432,NB,2018-06-18,2002238,Bronx,1067,TELLER AVENUE,02433,0067,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,220421390,NB,2018-11-07,2129116,Bronx,288,EAST 169 STREET,02439,0053,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,201061288,NB,2020-06-11,2124760,Bronx,1120,SHERMAN AVENUE,02452,0008,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,220579657,NB,2019-07-24,2098340,Bronx,1181,SHERMAN AVE,02456,0240,10456.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
424,220211964,NB,2018-04-25,2002976,Bronx,810,RIVER AVE,02483,0005,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,220393287,NB,2017-08-28,2124683,Bronx,1282,SHAKESPEARE AVENUE,02506,0111,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
426,220393287,NB,2017-08-28,2124683,Bronx,1282,SHAKESPEARE AVENUE,02506,0111,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
427,220451945,NB,2018-01-11,2003118,Bronx,984,WOODYCREST AVENUE,02507,0015,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
428,220451945,NB,2018-01-11,2003118,Bronx,984,WOODYCREST AVENUE,02507,0015,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
429,220536846,NB,2019-05-21,2003281,Bronx,1176,NELSON AVENUE,02515,0003,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
430,220536846,NB,2019-05-21,2003281,Bronx,1176,NELSON AVENUE,02515,0003,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
431,220151626,NB,2018-02-14,2128510,Bronx,120,WEST 169 STREET,02518,0036,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
432,220151626,NB,2018-02-14,2128510,Bronx,120,WEST 169 STREET,02518,0036,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
433,220399735,NB,2017-02-24,2098366,Bronx,1384,NELSON AVENUE,02520,00032,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,220424627,NB,2018-12-12,2127300,Bronx,1401,EDWARD L GRANT HIGHWAY,02520,0045,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
435,220424627,NB,2018-12-12,2127300,Bronx,1401,EDWARD L GRANT HIGHWAY,02520,0045,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
436,220456441,NB,2018-08-14,2124673,Bronx,1355,PLIMPTON AVENUE,02522,0121,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,220211241,NB,2018-09-21,2124365,Bronx,926,SEDGWICK AVENUE,02523,0053,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,220252651,NB,2019-02-27,2120269,Bronx,985,SUMMIT AVENUE,02523,0165,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
439,220252651,NB,2019-02-27,2120269,Bronx,985,SUMMIT AVENUE,02523,0165,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
440,220211009,NB,2019-09-24,2129181,Bronx,979,SUMMIT AVENUE,02523,0169,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,T,A,A,A
441,220211009,NB,2019-09-24,2129181,Bronx,979,SUMMIT AVENUE,02523,0169,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
442,220399753,NB,2017-03-31,2815115,Bronx,950,SUMMIT AVENUE,02524,00033,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,220427795,NB,2018-04-10,2127046,Bronx,989,OGDEN AVE,02524,0056,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
444,220427795,NB,2018-04-10,2127046,Bronx,989,OGDEN AVE,02524,0056,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
445,220427802,NB,2018-04-10,2127045,Bronx,987,OGDEN AVE,02524,0057,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
446,220427802,NB,2018-04-10,2127045,Bronx,987,OGDEN AVE,02524,0057,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
447,220536454,NB,2018-05-31,2127737,Bronx,1072,UNIVERSITY AVENUE,02526,0147,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,220152180,NB,2018-12-06,2128956,Bronx,1434,UNDERCLIFF AVENUE,02537,0006,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
449,220152180,NB,2018-12-06,2128956,Bronx,1434,UNDERCLIFF AVENUE,02537,0006,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
517,200692928,NB,2019-04-08,2007179,Bronx,1320,COLLEGE AVENUE,02783,0013,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,220446266,NB,2017-12-13,2127143,Bronx,1685,MONROE AVE,02792,0051,10457.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
519,220446266,NB,2017-12-13,2127143,Bronx,1685,MONROE AVE,02792,0051,10457.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
529,220151582,NB,2017-04-27,2811801,Bronx,201,MARCY PLACE,02831,00069,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,220463558,NB,2019-06-19,2129011,Bronx,111,EAST 172ND STREET,02835,0012,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
531,220463558,NB,2019-06-19,2129011,Bronx,111,EAST 172ND STREET,02835,0012,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
532,220151519,NB,2017-11-15,2128647,Bronx,1561,WALTON AVENUE,02845,0047,10452.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
533,220151519,NB,2017-11-15,2128647,Bronx,1561,WALTON AVENUE,02845,0047,10452.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
534,220536392,NB,2018-09-17,2008273,Bronx,1237,JEROME AVE,02855,0001,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,220151573,NB,2019-07-25,2127017,Bronx,1395,NELSON AVENUE,02874,0001,10452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,220177092,NB,2017-10-27,2813314,Bronx,1450,PLIMPTON AVENUE,02874,0027,10452.0,...,0.0,0.0,12683.0,NaN,05/17/2020,A,A,A,A,A
540,220177092,NB,2017-10-27,2813314,Bronx,1450,PLIMPTON AVENUE,02874,0027,10452.0,...,0.0,0.0,12683.0,NaN,05/24/2021,A,A,A,A,A
544,220425074,NB,2018-03-20,2128741,Bronx,1343,WEBSTER AVENUE,02887,0169,10456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,220476401,NB,2019-04-03,2127148,Bronx,362,EAST 173 STREET,02888,0030,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,220476410,NB,2019-04-03,2127149,Bronx,364,EAST 173 STREET,02888,0031,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,220476429,NB,2019-06-06,2127150,Bronx,366,EAST 173 STREET,02888,0033,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
# variables of interest
pd.pivot_table(bx4, values = ['FINMKTLAND','FINMKTTOT','FINACTLAND','FINACTTOT','FINACTEXTOT','FINTRNLAND','FINTRNTOT','FINTRNEXTOT','FINTXBTOT','FINTXBEXTOT'], index = ['COMMUNITY_BOARD'])

,FINACTEXTOT,FINACTLAND,FINACTTOT,FINMKTLAND,FINMKTTOT,FINTRNEXTOT,FINTRNLAND,FINTRNTOT,FINTXBEXTOT,FINTXBTOT
COMMUNITY_BOARD,,,,,,,,,,
4.0,1.984797e+06,202761.290323,2.026742e+06,450580.645161,4.503871e+06,2.072927e+06,181953.064516,2.117466e+06,1.984797e+06,2.026742e+06

### Bronx - CD 09

In [173]:
# Bronx-07 subset
bx7 = corpad2[(corpad2.BOROUGH =='Bronx') & (corpad2.COMMUNITY_BOARD == 7)]
bx7

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
624,220102092,NB,2018-10-16,2127056,Bronx,2605,GRAND CONCOURSE,03168,7501,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,220152616,NB,2020-02-28,2803496,Bronx,2519,CRESTON AVENUE,03175,0026,10468.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
628,220152616,NB,2020-02-28,2803496,Bronx,2519,CRESTON AVENUE,03175,0026,10468.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
634,220353221,NB,2017-05-25,2124539,Bronx,2536,GRAND AVE,03204,00022,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,220353212,NB,2017-05-23,2014433,Bronx,2538,GRAND AVE,03204,00023,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,220420202,NB,2017-06-02,2014915,Bronx,2264,LORING PLACE NORTH,03225,00010,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,210071624,NB,2017-12-06,2125050,Bronx,2186,CEDAR AVE.,03232,0102,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,210071633,NB,2017-12-06,2125038,Bronx,2184,CEDAR AVE.,03232,0103,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,220151608,NB,2018-01-25,2811610,Bronx,233,LANDING ROAD,03236,0025,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,220353187,NB,2017-10-18,2128681,Bronx,166,WEST KINGSBRIDGE RD,03240,0059,10463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,220353196,NB,2017-09-25,2128680,Bronx,164,WEST KINGSBRIDGE RD,03240,0060,10463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,220555806,NB,2018-11-19,2128945,Bronx,2667,KINGSBRIDGE TERRACE,03240,0062,10463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,220420541,NB,2019-06-06,2116952,Bronx,386,E. 195 STREET,03277,0025,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,220402026,NB,2016-09-21,2128443,Bronx,2760,DECATUR AVENUE,03278,00059,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,220151831,NB,2018-12-14,2128449,Bronx,2681,MARION AVENUE,03287,0094,10458.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
655,220151831,NB,2018-12-14,2128449,Bronx,2681,MARION AVENUE,03287,0094,10458.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
656,220429926,NB,2018-03-20,2016731,Bronx,2848,BAINBRIDGE AVENUE,03291,0035,10458.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
657,220429926,NB,2018-03-20,2016731,Bronx,2848,BAINBRIDGE AVENUE,03291,0035,10458.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
658,201195704,NB,2019-08-14,2127331,Bronx,2760,BRIGGS AVENUE,03295,0001,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,220471665,NB,2017-02-28,2017355,Bronx,192,E 205 STREET,03311,00118,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,220600758,NB,2020-03-06,2831457,Bronx,186,ST GEORGE'S CRESCENT,03313,0012,10458.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,A,A,A,A
661,220152082,NB,2019-01-31,2129358,Bronx,2700,JEROME AVE,03317,0017,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,220151644,NB,2017-10-25,2017516,Bronx,2763,MORRIS AVE,03318,0060,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,220241977,NB,2016-08-11,2127783,Bronx,3110,JEROME AVENUE,03321,00034,10468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,220517689,NB,2018-10-05,2129249,Bronx,3084,WEBSTER AVENUE,03330,0052,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,220210929,NB,2018-11-13,2129274,Bronx,3100,WEBSTER AVENUE,03330,0068,10467.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
666,220210929,NB,2018-11-13,2129274,Bronx,3100,WEBSTER AVENUE,03330,0068,10467.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
667,220347916,NB,2020-05-06,2017896,Bronx,3103,WEBSTER AVE,03331,0048,10467.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,T,T,T,T
668,220347916,NB,2020-05-06,2017896,Bronx,3103,WEBSTER AVE,03331,0048,10467.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,T,T,T,T
669,220405130,NB,2019-09-11,2018011,Bronx,253,E 206 STREET,03335,0134,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,210026336,NB,2019-04-30,2018029,Bronx,261,EAST 206 STREET,03335,0184,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,220428892,NB,2018-05-15,2124646,Bronx,3544,TRYON AVENUE,03344,0098,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,220152439,NB,2019-03-15,2128259,Bronx,3211,PARKSIDE PLACE,03354,0041,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,220150707,NB,2016-08-11,2018614,Bronx,3349,WEBSTER AVENUE,03355,00121,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,220329366,NB,2017-07-28,2128546,Bronx,3160,WEBSTER AVENUE,03357,0033,10467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# variables of interest
pd.pivot_table(bx7, values = ['FINMKTLAND','FINMKTTOT','FINACTLAND','FINACTTOT','FINACTEXTOT','FINTRNLAND','FINTRNTOT','FINTRNEXTOT','FINTXBTOT','FINTXBEXTOT'], index = ['COMMUNITY_BOARD'])

,FINACTEXTOT,FINACTLAND,FINACTTOT,FINMKTLAND,FINMKTTOT,FINTRNEXTOT,FINTRNLAND,FINTRNTOT,FINTXBEXTOT,FINTXBTOT
COMMUNITY_BOARD,,,,,,,,,,
7.0,2.036816e+06,226387.5,2164365.0,503083.333333,4809700.0,2.110828e+06,208608.416667,2.234757e+06,2.024764e+06,2.146579e+06

### Bronx - CD 05

In [181]:
# Bronx-05 subset
bx5 = corpad2[(corpad2.BOROUGH =='Bronx') & (corpad2.COMMUNITY_BOARD == 5)]
bx5

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
520,220471718,NB,2017-12-15,2817614,Bronx,1779,WEEKS AVENUE,02796,0036,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,200929237,NB,2019-03-28,2129269,Bronx,1752,MONROE AVENUE,02798,0014,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
522,220423085,NB,2018-06-05,2007561,Bronx,250,MT HOPE PLACE,02802,0029,10457.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
523,220423085,NB,2018-06-05,2007561,Bronx,250,MT HOPE PLACE,02802,0029,10457.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
524,220392858,NB,2019-02-27,2128390,Bronx,2028,CRESTON AVENUE,02808,0073,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,220482868,NB,2019-07-18,2128866,Bronx,240,EAST 178 STREET,02810,0024,10457.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
526,220482868,NB,2019-07-18,2128866,Bronx,240,EAST 178 STREET,02810,0024,10457.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
527,220081186,NB,2017-10-26,2007780,Bronx,280,EAST BURNSIDE AVE,02814,0073,10457.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
528,220081186,NB,2017-10-26,2007780,Bronx,280,EAST BURNSIDE AVE,02814,0073,10457.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
535,220357423,NB,2017-01-04,2124607,Bronx,74,WEST TREMONT AVENUE,02862,00006,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,220151056,NB,2019-10-24,2124650,Bronx,2028,DAVIDSON AVENUE,02863,0017,10453.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
537,220151056,NB,2019-10-24,2124650,Bronx,2028,DAVIDSON AVENUE,02863,0017,10453.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
541,220493268,NB,2017-08-29,2008889,Bronx,1645,POPHAM AVENUE,02877,0280,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,220493259,NB,2017-08-29,2127298,Bronx,1643,POPHAM AVENUE,02877,0281,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,220555860,NB,2018-08-31,2816477,Bronx,1817,UNIVERSITY AVENUE,02879,0120,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,220418876,NB,2017-02-10,2010994,Bronx,2401,MARION AVE,03022,00037,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,200231301,NB,2018-04-10,2010996,Bronx,337,EAST 187 STREET,03022,0048,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,220321337,NB,2017-10-20,2124688,Bronx,337,E. 188 STREET,03023,0063,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,220405121,NB,2019-07-12,2129072,Bronx,335,E 188TH STREET,03023,0064,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,200998983,NB,2017-08-07,2116258,Bronx,2106,VALENTINE AVENUE,03144,0011,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,220353249,NB,2018-02-07,2813980,Bronx,2060,RYER AVENUE,03149,0028,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,220447078,NB,2018-12-26,2013863,Bronx,2264,MORRIS AVE,03171,0013,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,220524127,NB,2020-03-17,2013898,Bronx,111,EAST 183 STREET,03172,0044,10453.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,A,A,A,A
629,220151323,NB,2018-06-05,2129079,Bronx,2065,WALTON AVE,03179,0060,10453.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
630,220151323,NB,2018-06-05,2129079,Bronx,2065,WALTON AVE,03179,0060,10453.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
631,220579648,NB,2020-03-02,2128532,Bronx,2311,MORRIS AVE,03183,0071,10468.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,T,A,A,A
632,220178260,NB,2017-05-03,2014073,Bronx,2247,WALTON AVENUE,03186,00076,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,201106196,NB,2019-05-23,2118416,Bronx,5,CLINTON PLACE,03195,0074,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,220086564,NB,2020-01-17,2817786,Bronx,99,WEST 181ST STREET,03211,0001,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,220119583,NB,2016-12-07,2118366,Bronx,1990,SEDGWICK AVENUE,03222,0100,10453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
# variables of interest
pd.pivot_table(bx5, values = ['FINMKTLAND','FINMKTTOT','FINACTLAND','FINACTTOT','FINACTEXTOT','FINTRNLAND','FINTRNTOT','FINTRNEXTOT','FINTXBTOT','FINTXBEXTOT'], index = ['COMMUNITY_BOARD'])

,FINACTEXTOT,FINACTLAND,FINACTTOT,FINMKTLAND,FINMKTTOT,FINTRNEXTOT,FINTRNLAND,FINTRNTOT,FINTXBEXTOT,FINTXBTOT
COMMUNITY_BOARD,,,,,,,,,,
5.0,975475.333333,117187.5,1001887.5,260416.666667,2.226417e+06,983153.75,95712.25,1010741.0,975475.333333,1001887.5

### Bronx - CD 01

In [200]:
# Bronx-01 subset
bx1 = corpad2[(corpad2.BOROUGH =='Bronx') & (corpad2.COMMUNITY_BOARD == 1)]
bx1

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
360,220407842,NB,2018-08-16,2128617,Bronx,532,E 142 STREET,02268,0018,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
361,220407842,NB,2018-08-16,2128617,Bronx,532,E 142 STREET,02268,0018,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
362,200483039,NB,2017-11-29,2117110,Bronx,521,EAST 149 STREET,02276,0054,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,220516216,NB,2020-05-29,2127605,Bronx,485,EAST 139TH STREET,02284,0034,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,220471683,NB,2018-03-22,2818714,Bronx,352,WILLIS AVE,02286,0012,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,220072463,NB,2016-09-26,2831652,Bronx,356,WILLIS AVENUE,02287,0002,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,200813058,NB,2019-05-21,2120053,Bronx,456,WILLIS AVENUE,02290,0005,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,220420550,NB,2019-09-26,2805101,Bronx,428,E. 148 STREET,02292,0026,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,220124381,NB,2016-12-23,2826369,Bronx,469,EAST 147 STREET,02292,0049,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,220111689,NB,2016-12-28,2826368,Bronx,463,EAST 147 STREET,02292,0050,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,220472691,NB,2018-12-07,2129035,Bronx,329,EAST 132ND STREET,02295,0040,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,A,A,A,A
371,200978567,NB,2018-03-15,2128931,Bronx,25,BRUCKNER BOULEVARD,02309,0012,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
372,200978567,NB,2018-03-15,2128931,Bronx,25,BRUCKNER BOULEVARD,02309,0012,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
373,220151065,NB,2017-12-08,2128217,Bronx,135,ALEXANDER AVENUE,02309,0026,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,220151118,NB,2018-03-26,2127004,Bronx,131,ALEXANDER AVENUE,02309,0027,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,220462407,NB,2018-08-30,2128327,Bronx,2550,THIRD AVENUE,02314,0001,10454.0,...,0.0,0.0,3373.0,NaN,05/17/2020,T,T,T,T,T
376,220462407,NB,2018-08-30,2128327,Bronx,2550,THIRD AVENUE,02314,0001,10454.0,...,0.0,0.0,3373.0,NaN,05/24/2021,T,A,A,A,A
377,220462363,NB,2018-12-31,2129115,Bronx,295,EAST 138 STREET,02314,0015,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
378,220462363,NB,2018-12-31,2129115,Bronx,295,EAST 138 STREET,02314,0015,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
379,220335420,NB,2018-06-19,2128571,Bronx,313,ALEXANDER AVENUE,02315,0014,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,220041684,NB,2017-06-30,2128573,Bronx,2477,THIRD AVENUE,02320,0011,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,220410972,NB,2017-06-13,2094027,Bronx,75,CANAL STREET WEST,02322,00028,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,201192182,NB,2016-08-09,2124685,Bronx,500,MORRIS AVENUE,02324,0008,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,200901319,NB,2018-10-19,2815325,Bronx,2773,3 AVENUE,02327,0001,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,200656085,NB,2019-04-02,2092159,Bronx,278,EAST 149 STREET,02330,0010,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,220122445,NB,2018-07-24,2128555,Bronx,255,EAST 138 STREET,02333,0001,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,220460711,NB,2018-09-10,2128972,Bronx,221,EAST 138TH STREET,02340,0056,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,210107677,NB,2017-07-27,2128214,Bronx,500,EXTERIOR STREET,02351,0022,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,220151760,NB,2017-12-14,2127039,Bronx,530,EXTERIOR STREET,02351,0025,10451.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
389,220151760,NB,2017-12-14,2127039,Bronx,530,EXTERIOR STREET,02351,0025,10451.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
390,220151877,NB,2018-05-25,2127104,Bronx,491,GERARD AVENUE,02351,0050,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,220462381,NB,2019-06-18,2127130,Bronx,626,BERGEN AVENUE,02361,0025,10455.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
393,220462381,NB,2019-06-18,2127130,Bronx,626,BERGEN AVENUE,02361,0025,10455.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
398,220593463,NB,2020-01-10,2129278,Bronx,418,EAST 153 STREET,02374,0080,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,200981330,NB,2017-05-03,2117406,Bronx,430,EAST 154 STREET,02375,0018,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,200984747,NB,2019-01-22,2113346,Bronx,441,EAST 154 STREET,02376,0025,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,200984710,NB,2019-02-05,2113347,Bronx,437,EAST 154 STREET,02376,0026,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,220211205,NB,2016-12-01,2127027,Bronx,655,MORRIS AVENUE,02441,00001,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,220152260,NB,2018-11-02,2128727,Bronx,2980,PARK AVENUE,02441,0002,10451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,220211866,NB,2017-09-29,2003577,Bronx,2,ST. ANN'S AVENUE,02543,0001,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,220152661,NB,2019-12-30,2128429,Bronx,570,EAST 137TH STREET,02548,0002,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
452,220152661,NB,2019-12-30,2128429,Bronx,570,EAST 137TH STREET,02548,0002,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
453,210020476,NB,2018-11-15,2803723,Bronx,333,CYPRESS AVENUE,02554,0054,10454.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
454,210020476,NB,2018-11-15,2803723,Bronx,333,CYPRESS AVENUE,02554,0054,10454.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
455,220247631,NB,2018-05-31,2128901,Bronx,751,EAST 133RD STREET,02562,0065,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,220247640,NB,2018-05-31,2128902,Bronx,749,EAST 133RD STREET,02562,0066,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,220247659,NB,2018-05-31,2128903,Bronx,747,EAST 133RD STREET,02562,0067,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,201111938,NB,2017-06-08,2115831,Bronx,455,WALES AVENUE,02577,0058,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,220343420,NB,2017-04-12,2124651,Bronx,501,SOUTHERN BOULEVARD,02582,00165,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,220406889,NB,2018-08-16,2128608,Bronx,828,EAST 149TH STREET,02582,0065,10455.0,...,0.0,0.0,0.0,NaN,05/24/2021,T,A,A,A,A
461,220368590,NB,2016-07-25,2128362,Bronx,900A,EAST 132 STREET,02583,00030,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,220421354,NB,2016-12-20,2004058,Bronx,347,WALNUT AVENUE,02599,00123,10454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,220545952,NB,2019-03-07,2129095,Bronx,869,E 147 STREET,02600,0187,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,220562905,NB,2019-07-29,2127436,Bronx,764,E 152 STREET,02643,0040,10455.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
478,220562905,NB,2019-07-29,2127436,Bronx,764,E 152 STREET,02643,0040,10455.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
483,220284895,NB,2017-09-05,2122823,Bronx,766,WESTCHESTER AVENUE,02676,0003,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,220156505,NB,2017-08-17,2120256,Bronx,773,PROSPECT AVENUE,02676,0075,10455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
# variables of interest
pd.pivot_table(bx1, values = ['FINMKTLAND','FINMKTTOT','FINACTLAND','FINACTTOT','FINACTEXTOT','FINTRNLAND','FINTRNTOT','FINTRNEXTOT','FINTXBTOT','FINTXBEXTOT'], index = ['COMMUNITY_BOARD'])

,FINACTEXTOT,FINACTLAND,FINACTTOT,FINMKTLAND,FINMKTTOT,FINTRNEXTOT,FINTRNLAND,FINTRNTOT,FINTXBEXTOT,FINTXBTOT
COMMUNITY_BOARD,,,,,,,,,,
1.0,4647793.1,439650.0,4718047.5,977000.0,10484550.0,4710895.0,381509.35,4781393.35,4646326.4,4716566.0

### Bronx - CD 06

In [191]:
# Bronx-06 subset
bx6 = corpad2[(corpad2.BOROUGH =='Bronx') & (corpad2.COMMUNITY_BOARD == 6)]
bx6

,JOB_NUMBER,JOB_TYPE,C_O_ISSUE_DATE,BIN_NUMBER,BOROUGH,NUMBER,STREET,BLOCK,LOT,POSTCODE,...,STORAGE_AREA_GROSS,GARAGE_AREA,OTHER_AREA_GROSS,REUC_DESCRIPTION,EXTRACRDT,PYTAXFLAG,TENTAXFLAG,CBNTAXFLAG,FINTAXFLAG,CURTAXFLAG
548,220152420,NB,2019-12-09,2128726,Bronx,1880,BATHGATE AVENUE,02924,0007,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,220520498,NB,2018-10-22,2129012,Bronx,712,EAST 175 STREET,02948,0009,10457.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
553,220520498,NB,2018-10-22,2129012,Bronx,712,EAST 175 STREET,02948,0009,10457.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
554,200909712,NB,2017-11-13,2124748,Bronx,707,EAST 175 STREET,02949,0037,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,200909703,NB,2017-11-22,2806599,Bronx,705,EAST 175 STREET,02949,0038,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,200976890,NB,2019-12-10,2115050,Bronx,818,ELSMERE PLACE,02955,0130,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,200899876,NB,2017-07-05,2115905,Bronx,862,EAST 175 STREET,02957,0031,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,220542401,NB,2018-06-21,2120210,Bronx,1880,BOSTON ROAD,03004,0020,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,201197702,NB,2020-01-24,2010892,Bronx,1930,VYSE AVENUE,03005,0010,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,220152019,NB,2018-11-13,2129118,Bronx,1903,WEST FARMS ROAD,03016,0011,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,220282628,NB,2018-04-13,2120278,Bronx,1926,LONGFELLOW AVE,03016,0038,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,220325510,NB,2018-10-15,2124285,Bronx,1939,WEST FARMS ROAD,03016,0050,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,220157700,NB,2019-02-13,2128937,Bronx,4215,PARK AVENUE,03027,0001,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,220152402,NB,2018-10-18,2128520,Bronx,1996,WEBSTER AVENUE,03028,0013,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,220394552,NB,2018-04-04,2127101,Bronx,411,EAST 178TH STREET,03028,0048,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,220416583,NB,2018-06-11,2127293,Bronx,4607,PARK AVENUE,03031,0054,10458.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,A,A,A,A
595,220416583,NB,2018-06-11,2127293,Bronx,4607,PARK AVENUE,03031,0054,10458.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
596,220409920,NB,2019-12-04,2128923,Bronx,1969,WASHINGTON AVENUE,03035,0044,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,220151975,NB,2018-12-14,2127259,Bronx,4439,3RD AVENUE,03048,0039,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,220533769,NB,2017-08-08,2118224,Bronx,2250,BASSFORD AVENUE,03050,0100,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,220152117,NB,2019-03-15,2128231,Bronx,4511,3RD AVENUE,03051,0034,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,220406068,NB,2018-10-15,2129062,Bronx,2330,HOFFMAN STREET,03065,0013,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,220397817,NB,2017-04-11,2120567,Bronx,2421,ARTHUR AVE,03066,00022,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,220484278,NB,2017-07-18,2011936,Bronx,2414,HOFFMAN ST,03066,00065,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,220400484,NB,2017-07-21,2011915,Bronx,2415,ARTHUR AVE,03066,0024,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,201037608,NB,2017-10-05,2116236,Bronx,1991,ARTHUR AVENUE,03068,0039,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,220451892,NB,2018-10-02,2127255,Bronx,1969,HUGHES AVE,03068,0096,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,200988397,NB,2018-03-20,2113326,Bronx,2016,LAFONTAINE AVENUE,03068,0119,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,201037617,NB,2017-10-11,2116236,Bronx,1993,ARTHUR AVENUE,03068,0138,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,220520489,NB,2019-12-26,2128797,Bronx,2230,ADAMS PLACE,03071,0045,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,220415637,NB,2017-07-26,2127008,Bronx,2447,CAMBRELENG AVENUE,03075,00053,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,220415646,NB,2017-07-26,2802457,Bronx,2449,CAMBRELENG AVENUE,03075,0052,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,220602925,NB,2019-11-22,2012298,Bronx,1982,BELMONT AVE,03079,0054,10457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,220405112,NB,2017-10-23,2012526,Bronx,2325,BEAUMONT AVENUE,03089,0051,10458.0,...,0.0,0.0,0.0,NaN,05/17/2020,T,T,A,A,A
613,220405112,NB,2017-10-23,2012526,Bronx,2325,BEAUMONT AVENUE,03089,0051,10458.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
614,220365995,NB,2018-12-31,2128985,Bronx,2131,MAPES AVE,03110,0088,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,220493204,NB,2018-02-06,2127327,Bronx,2118,MAPES AVENUE,03111,0001,10460.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
616,220493204,NB,2018-02-06,2127327,Bronx,2118,MAPES AVENUE,03111,0001,10460.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
617,220396015,NB,2016-11-15,2127019,Bronx,2346,PROSPECT AVE,03114,00044,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,220150495,NB,2019-12-04,2129378,Bronx,2505,SOUTHERN BLVD,03115,0030,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,220364772,NB,2016-08-31,2127009,Bronx,866,EAST 178TH STREET,03121,00014,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,220152233,NB,2019-08-15,2128733,Bronx,988,EAST 180TH STREET,03132,0001,10460.0,...,0.0,0.0,0.0,NaN,05/17/2020,A,A,A,A,A
621,220152233,NB,2019-08-15,2128733,Bronx,988,EAST 180TH STREET,03132,0001,10460.0,...,0.0,0.0,0.0,NaN,05/24/2021,A,A,A,A,A
746,220199238,NB,2017-04-21,2028358,Bronx,1112,EAST TREMONT AVENUE,03906,00061,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,220458181,NB,2017-11-13,2127269,Bronx,423,BRONX PARK AVE,04005,0032,10460.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,220418064,NB,2017-04-03,2127028,Bronx,2668,SOUTHERN BLVD,04336,00001,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,220150985,NB,2018-06-05,2120273,Bronx,2662,SOUTHERN BLVD,04336,0001,10458.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
# variables of interest
pd.pivot_table(bx6, values = ['FINMKTLAND','FINMKTTOT','FINACTLAND','FINACTTOT','FINACTEXTOT','FINTRNLAND','FINTRNTOT','FINTRNEXTOT','FINTXBTOT','FINTXBEXTOT'], index = ['COMMUNITY_BOARD'])

,FINACTEXTOT,FINACTLAND,FINACTTOT,FINMKTLAND,FINMKTTOT,FINTRNEXTOT,FINTRNLAND,FINTRNTOT,FINTXBEXTOT,FINTXBTOT
COMMUNITY_BOARD,,,,,,,,,,
6.0,3468036.6,274320.0,3554460.0,609600.0,7898800.0,3215766.6,266115.1,3302190.0,3468036.6,3554460.0